@page "/login"

@inject NavigationManager navigationManager 
@inherits LoginModel
@using MarriageAgency.UI.Components

<div class="row">
    <div class="form col-md-6 offset-md-6">

        <h1>Log In</h1>

        <EditForm Model="@CurrentLoginData" OnValidSubmit="LoginAsync" style="width:350px;">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <label for="Username">Username</label>
            <InputText id="Username" @bind-Value="CurrentLoginData.Username" class="form-control" />
            <label for="Password">Password</label>
            <InputText id="Password" @bind-Value="CurrentLoginData.Password" class="form-control" />

            <p class="button my-4">
                <button type="submit" class="my-btn btn btn-primary">Log In</button>
            </p>
            <p class="button my-4">
                <p id="text">Don't have an account?</p>
                <button @onclick="@(()=> navigationManager.NavigateTo("/registration"))" class="my-btn btn btn-primary">Register</button>
            </p>

        </EditForm>

    </div>
</div>

<style>

    #text {
        justify-content: center;
        display: flex;
    }

    .form {
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .button {
        display: grid;
    }

    .my-btn {
        background-color: #383434 !important;
    }

</style>