@page "/login"

@inherits LoginModel
@using MarriageAgency.UI.Components

<div class="row">
    <div class="form col-md-6 offset-md-6">

        <h1>Log In</h1>

        <EditForm Model="@CurrentLoginData" OnValidSubmit="LoginAsync" style="width:350px;">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <label for="Username">Username</label>
            <InputText id="Username" @bind-Value="CurrentLoginData.Username" class="form-control" />
            <label for="Password">Password</label>
            <InputText id="Password" @bind-Value="CurrentLoginData.Password" class="form-control" />

            <p class="button my-4">
                <button type="submit" class="btn btn-primary">Log In</button>
            </p>

        </EditForm>

    </div>
</div>

<style>
    .form {
        align-items: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .button {
        display: grid;
    }
</style>