<nav class="navbar navbar-expand-sm navbar-light bg-light" style="justify-content: space-between;">
    <a class="navbar-brand" href="" style="font-size:20px;">Marriage aGENcy</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <AuthorizeView>
                <Authorized>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="counter">Profile</NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="profiles"> Find</NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="#">Invitations</NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="logout">Logout</NavLink>
                    </li>

                </Authorized>
                <NotAuthorized>

                    <RedirectToLoginComponent></RedirectToLoginComponent>

                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

<style>
    .navbar {
        background-color: #6d9772 !important;
    }

    .navbar-nav {
        align-items: baseline;
    }

    .navbar-nav li {
        font-size: 20px!important;
    }

    .navbar-brand {
        margin-left: 100px;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}